<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Koristi ovo</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/koristiovo.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="container">
    
    <div id="header">
        <span id="site-name">Koristi ovo</span>
        <p>Lorem ipsum dolor sit amet.</p>
        <ul id="nav">
            <li class="first"><a href="index.html">Home</a></li>
            <li><a class="selected" href="interview.html">Interview</a></li>
            <li class="last"><a href="static.html">Static</a></li>
        </ul>
        <div class="clear"></div>
    </div>
	
    <div id="content">
    
    	<div class="intro">
            <img src="img/img620px.jpg" />
            <h1 class="name">Christopher Leary</h1>
            <p class="occupation">Musician (Ochre)</p>
            <p class="date">Jun 02, 2010</p>
        </div>
        <div class="prev">
        	<a href="#">Prethodni <span>Nikola Plejić</span></a>
        </div>
        <div class="next">
        	<a href="#">Sljedeći <span>Ivan Brezak Brkan</span></a>
        </div>
        <p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id <a href="#">metus massa</a>, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet <a href="#">egestas purus</a> in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin.</p>

        <p>Loreandit odio. Proin quis tortor orci. <strong>Etiam at risus et justo</strong> dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellen.</p>
        <h3>Sed molestie augue sit amet leo</h3>
        <p>Nsl ut dapibus. Mauris iaculis porttitor posuere. Praesent id <a href="#">metus massa</a>, ut blandit odio. Proin quis tortor orci. Etiam at risus et </p>
        <ul>
            <li>Donec congue lacinia dui, a porttitor lectus</li>
            <li>Morbi a enim in</li>
            <li>Nulla fringilla, orci ac euismod semper, magna</li>
            <li>Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus</li>
            <li>Vivamus rutrum nunc non</li>
        </ul>
        <p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id <a href="#">metus massa</a>, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet <a href="#">egestas purus</a> in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin.</p>
        
    </div>
    
    <div id="footer" class="clear">
    	<p class="alignleft">Copyright &copy; 2010. Lorem ipsum dolor sit amet <a href="#">Links</a></p>
    	<p class="alignright"><a href="#">Vrh stranice</a></p>
    </div>
      
</div>

</body>
</html>
